.button {
    -fx-background-color: #7C7C7C;
    -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.5 , 2 , 0.5 );
    -fx-margin: 0 10 0 0;
    -fx-cursor: default;
}

.button:hover {
    -fx-background-color: #A0A0A0;
    -fx-cursor: hand;
 }

 #clearButton {
     -fx-background-color: #F31B31;
     -fx-text-fill: white;
     -fx-effect: dropshadow( one-pass-box , black , 8 , 0.5 , 2 , 0.5 );
     -fx-margin: 0 10 0 0;
     -fx-cursor: default;
 }

 #clearButton:hover {
    -fx-background-color: #FF6877;
    -fx-cursor: hand;
 }

#spanTreePane {
-fx-background-color: #BABABA;
}

#spanTreePane {
-fx-background-color: #BABABA;
}

